
ul {
    list-style-type: none;
    padding-left: 1%; /* distance of ul from the left of border */
    margin-top: 3px; /* distance of ul from input box */
}

li {
    cursor: pointer;
    border-bottom: 1px solid #e29d9d;
    background:  rgb(241, 229, 241);
    position: relative; /* just here to activate z-index */
    z-index: 1; /* stacking order, makes sure li is on top of deleteBg*/
    padding-block: 5px;

    user-select: none; /* prevents blue selection from mouse*/
    -webkit-user-select: none; /* same as above but Safari */
    -ms-user-select: none;     /* ^ old Edge/IE */
}

li.bought {
    text-decoration: line-through;
    border-bottom: 1px solid rgb(216, 193, 216);
    color: gray;
    background: rgb(232, 216, 232);
}

.hidden {
    display: none;
}

.rows {
    position: relative; /* makes rows the position reference for columns*/
    gap: 20px;
    align-items: flex-start;
}

.columns {
    flex: 1;              /* takes available space */
    min-width: 250px;
}               

.columns-two { /* relies on .rows position */
    position: absolute;
    right: 3px;
    top: 0;
}

.columns-two button {
    display: flex;
    flex-direction: column;
    gap: 10px;

    flex-shrink: 0; 

    font-size: medium;
}

.container {
    background-color: rgb(241, 229, 241);
    min-height: 70vh;        /* better than fixed px */
    width: min(95%, 500px);  /* responsive width */
       min-width: 420px;

    margin: 20px auto; 
    padding: 16px;
    border-radius: 10px;

} /* fix container to be adaptable on web, do edit page*/

.swipeWrapper {
    position: relative;
}

.deleteBg {
    position: absolute;
    inset: 0;
    z-index: 0;
    background: red;

    display: flex;
    align-items: center;        /* vertical center */
    justify-content: flex-end;  /* keep text on right */
    padding-right: 5px;

    color: white;
    font-weight: bold;
    border-bottom: 1px solid #e29d9d;
}