
ul {
    list-style-type: none;
    padding-left: 1%;
    margin-top: 3px;
}

li {
    cursor: pointer;
}

li.bought {
    text-decoration: line-through;
    color: gray;
    opacity: 0.6;
}

.hidden {
    display: none;
}

.rows {
    position: relative; /* makes rows the position reference for columns*/
}

/*.columns {
    
}               
*/

.columns-two { /* relies on .rows position */
    position: absolute;
    right: 0;
    top: 0;
}

.columns-two button {
    display: block;
    font-size: medium;
    margin-bottom: 10px;
}