
ul {
    list-style-type: none;
    padding-left: 1%;
    margin-top: 3px;
}

li {
    cursor: pointer;
    border-bottom: 1px solid #e29d9d;
    background:  rgb(241, 229, 241);
    position: relative;
    z-index: 1;
    padding-block: 5px;
}

li.bought {
    text-decoration: line-through;
    border-bottom: 1px solid rgb(216, 193, 216);
    color: gray;
    background: rgb(232, 216, 232);
}

.hidden {
    display: none;
}

.rows {
    position: relative; /* makes rows the position reference for columns*/
}

.columns {
    max-width: 390px;
}               

.columns-two { /* relies on .rows position */
    position: absolute;
    right: 3px;
    top: 0;
}

.columns-two button {
    display: block;
    font-size: medium;
    margin-bottom: 10px;
}

.container {
    background-color: rgb(241, 229, 241);
    min-height: 650px;
    width: 500px;
    margin: 0 auto;
    padding-top: 10px;
    padding-inline: 10px;
} /* fix container to be adaptable on web, do edit page*/

.swipeWrapper {
    position: relative;
}

.deleteBg {
    position: absolute;
    inset: 0;
    background: red;
    padding-right: 10px;
    padding-block: 5px;
    text-align: right;
    color: white;
    font-weight: bold;
}